<br />
<section id="footer">
	<div class="container-footer">
		<div class="panel-footer">
			<div class="row">
				<div class="col-sm-4">
					<h5>About</h5>
					<p>{{ site.affiliation }}</p>
				</div>

				<div class="col-sm-4">
					<h5>Contact</h5>
					<p>{{ site.contact }}</p>
				</div>

				<div class="col-sm-4">
					<h5>Coordinates</h5>
					<p>{{ site.location }}</p>
				</div>
			</div>

			<center>
				<p>
					Last updated on 11/03/2025<br />
					<!-- Last updated on {{page.date | date: "-d %b"}}<br/> -->
					&copy {{ "now" | date: "%Y" }} {{site.title | escape }}<br />
					Website customized from <a
						href="https://github.com/sbryngelson/academic-website-template">template</a> by <a
						href="https://github.com/sbryngelson">Spencer Bryngelson</a>
				</p>
			</center>
		</div>
	</div>
	</div>

	<script src="{{ " /assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
